<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Registration Form</title>
    <link rel="stylesheet" href="styles1.css">
</head>
<body ng-app="eventApp" ng-controller="EventController">
    <div class="container">
        <h2>Event Registration Form</h2>
        
		<form name="eventForm" ng-submit="submitForm()">
            <label for="name">Name:</label>
            <input type="text" id="name" ng-model="event.name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" ng-model="event.email" required>
            <label for="event-type">Event Type:</label>
            <select id="event-type" ng-model="event.type">
                <option ng-repeat="eventType in eventTypes">{{eventType}}</option>
            </select>
            <label for="date">Date:</label>
            <input type="date" id="date" ng-model="event.date" required>
            <label for="comments">Comments:</label>
            <textarea id="comments" ng-model="event.comments"></textarea>
            <button type="submit">Register</button>
        </form>

        <h3>Registrations</h3>
        <ul>
            <li ng-repeat="registration in registrations">
                {{registration.name | capitalize}} ({{registration.email}}) - 
                {{registration.type | capitalize}} on {{registration.date | date:'mediumDate'}} 
                <br><strong>Comments:</strong> <span ng-bind-html="registration.comments"></span>
            </li>
        </ul>
    </div>

    <!-- Load AngularJS and the script files -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-sanitize.js"></script>
    <script src="app1.js"></script>
</body>
</html>
